.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #000;
  color: white;
  height: 91px;
  max-width: 100%;
  padding: 0 2rem;
  position: sticky;
top: 0;
  z-index: 1;

  &__logo {
    height: 61px;
    margin-right: 3rem;
  }

  &__nav {
    flex: 1;

    ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      list-style: none;
      padding: 0;
      margin: 0;
      width: 100%;
    }

    li {
      cursor: pointer;
      font-size: 24px;
    }
  }
}