.header {
  display: flex;
  align-items: center;
  background-color: #000;
  color: white;
  height: 70px;
  padding: 0 2rem;

  &__logo {
    height: 40px;
    margin-right: 3rem;
  }

  &__nav ul {
    display: flex;
    list-style: none;
    gap: 3rem;

    li {
      cursor: pointer;
      font-size: 1.1rem;
    }
  }
}