.sidebar {
  background-color: #000;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 117px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;

  &_icons {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex: 1; 
    justify-content: center;

    img {
      width: 64px;
      height: 64px;
      background-color: white;
      border-radius: 6px;
      padding: 16px;
    }
  }

  &_bottom {
    margin-top: auto;
    margin-bottom: 3rem;
  }

  &_copyright {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 0.75rem;
    color: #fff;
  }
}