@use './index' as *;
@use './components/activityChart';
@use './components/header';
@use './components/sidebar';
@use './components/profilePage';
@use './components/sessionChart';
@use './components/radarChart';
@use './components/scoreRadialChart';
@use './components/nutritionCard';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}