@use './index' as *;
@import './components/activityChart';
@import './components/header';
@import './components/sidebar';
@import './components/profilePage';
@import './components/sessionChart';
@import './components/radarChart';
@import './components/scoreRadialChart';
@import './components/nutritionCard';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}